h1 {
    color: #333;
    font-size: 20px;
  }
  
  p {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

